@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

* {
    margin: 0;
    pad: 0;
}

header{
    width: 1200px;
    margin: 0 auto;
}

.logo{
    float: left; 
    margin-top: 26px;
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #95e1d3;
}

.navigation{
float: right;
margin-top: 40px;

}


.logo1{
    float: left;
   
}

.logo1:first-letter{
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #95e1d3;
    text-transform: uppercase;
}

.navigation .navigation_list .navigation_item{
    list-style: none;
    display: inline-block;
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 14px;
    font-weight: regular;
    margin: 0px 32px; 
    text-transform: uppercase;
}

.navigation .navigation_list .navigation_item a{
    text-decoration: none;
    color: #95e1d3;
}

.navigation .navigation_list .navigation_item a:hover::after{
    content: ""; 
    background: #f38181;
    width: auto;
    height: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 10px; 
}

.navigation .navigation_list .navigation_item .active::after{
    content: ""; 
    background: #f38181;
    width: auto;
    height: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;  
    }

.navigation .navigation_list .navigation_item .active{
    color: #f38181;
}

.navigation .navigation_list .navigation_item a:hover{
    color: #f38181;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.service .text2::after{
    content: ""; 
    background: #f38181;
    width: 60px;
    height: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 43px;  

}

.service .text1{
    text-align: center;
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 24px;
    font-weight: regular;
    color: #333333;
    margin-top: 120px;

}

.service .text2{
    text-align: center;
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin-top: 12px;
    text-transform: uppercase;
}


.service_block{
   display: flex;  
   flex-wrap: wrap;
   width: 1200px;
   margin: 0 auto;
   margin-top: 65px;
}

.service_section{
    display: flex;
    justify-content: center;
    width: 340px;
    margin: 0 auto 100px 27px;

}

.service_section .icons img{
    margin-top: 7px;
}

.service_section .icons img{
    position: relative;
    transform: translate(-7, -7);
}
.service_section .sing{
    margin-left: 20px;
}

.sing .sign1{
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 14px;
    font-weight: regular;
    color: #333333;
    text-transform: uppercase;
   
} 

.sing .sign2{
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 24px;
    color: #999999;
    margin-top: 20px;
}

.our_team .text_text1{
    text-align: center;
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 24px;
    font-weight: regular;
    color: #333333;
    margin-top: 80px;

}

.our_team .text_text2{
    text-align: center;
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin-top: 12px;
    text-transform: uppercase;
}

.our_team .text_text2::after{
    content: ""; 
    background: #f38181;
    width: 60px;
    height: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 43px;  

}

.our_team .text_text3{
    text-align: center;
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 24px;
    color: #999999;
    margin-top: 48px;
}



.our_team_section .our_team_section_block:hover img{
    position: relative;
    top: -5px;
    left: -7px;
    transition-duration: 200ms;
    
}
.our_team_section{
    display: flex;  
    width: 1200px;
    margin: 0 auto;
    margin-top: 95px;
    position: relative;
}
.our_team_section_block{
    position: relative;
}


.our_team_section .our_team_section_block .ander_img{
    z-index: -1;
    position: absolute;
    width: 377px;
    height: 470px;
    background: #95e1d3;
    transform: translateY(-475px);
}

.our_team_section_block:hover .above_img{
    position: absolute;
    background: linear-gradient(rgba(252, 227, 138, 0.8), rgba(243, 129, 129, 0.8));
    width: 377px;
    height: 470px;
    transform: translateY(-475px);
    margin-top: -5px;
    margin-left: -6px;
    transition-duration: 200ms;
    opacity: 0.8;
    
}


.our_team_section .our_team_section_block{
    margin-left: 23px;
}

.our_team_section-hover{
    display: flex;
    justify-content: center;
}

.under_block h3{
    text-align: center;
}

.under_block p{
    text-align: center;
}

.our_team_section .our_team_section-hover{
    position: absolute;
    transform: translate(-50%, -30%);
    text-align: center;
    color: #fff;
    width: 218px;
    height: 57px;
    top: 50%;
    left: 50% 
}
.our_team_section-hover{
    position: absolute;
}

.cour_team_section .our_team_section-hover .button{
  display: inline-block;
  width: 55px;
  height: 55px;
  border: 1px solid #e2a081;
  background-color: #fce38a;
}

.cour_team_section .our_team_section-hover .button:hover{
    background-color: #fce38a;
}
.cour_team_section .our_team_section-hover .button_active:hover{
    background-color: #fce38a;
}

.cour_team_section .our_team_section_block:hover .our_team_section-hover{
    display: inline-block;
}

/*
.our_team_section-hover .button, .button_active{
    display: block;
    width: 55px;
    height: 55px;
    border: 1px solid #e2a081;
    background-color: #fce38a;
}
.our_team_section-hover .button img{
    margin-top: 12px;
    margin-left: 12px;
}

.our_team_section-hover .button_active img{
    margin-top: 12px;
    margin-left: 12px;
}
.our_team_section_block{
    position: relative;
}

.our_team_section-hover{
    position: absolute;
}

.our_team_section_block img:hover{
    transition-property: 
    color: linear-gradient(rgba(252, 227, 138, 0.8), rgba(243, 129, 129, 0.8));
    transition-duration: 2s;   
}

/*
/*.block1:hover img{
    position: relative;
    margin-top: -5px;
}
.block1 img{
    width: 380px;
    height: 470px;
    transition-duration: 0.2s;  
}
.block1 .above img{
    z-index: 1;
    position: absolute;
    background: linear-gradient(rgba(252, 227, 138, 0.8), rgba(243, 129, 129, 0.8));
    width: 380px;
    height: 470px;
    top: -5px;
    left: 0px;
    opacity: 0;
    transition-duration: 0.2s;
}

.block1 .above img:hover{
    background: linear-gradient(rgba(252, 227, 138, 0.8), rgba(243, 129, 129, 0.8));
}
.block1 .ander img{
    position: absolute;
    width: 380px;
    height: 470px;
    background-color: #95e1d3;
    z-index: -1;
    top: 0px;
    right: 10px;
}



a.rollover {
    background: url(images/mark.png); /* Путь к файлу с исходным  рисунком */
    display: block; /* Рисунок как блочный элемент */
    width: 151px; /* Ширина рисунка в пикселах */
    height: 40px; /* Высота рисунка */
   }
   a.rollover:hover {
    background-position: 0 -40px;


/*
transform: translateX(5px), translateY(5px);

.our_team_section-hover{
    position: absolute;
    display: none;
    transform: translate(-50%, -30%);
    text-align: center;
    color: #fff;
    width: 380px;
    height: 472px;
    top: 50%;
    left: 50% 
}


/*
.our_team_section-hover:hover{
    content: "";
    position: absolute; 
    background: #000002;
    opacity: 0.5;
    display: none;
    width: 380px;
    height: 472px;
}

.our_team_section_block .our_team_section-hover::before{
    content: "";
    position: absolute; 
    background: #000002;
    opacity: 0.5;
    display: none;
    width: 380px;
    height: 472px; 
}

.catalog-section .catalog-block::before{
   top: 10px;
   right: 10px;
}

.catalog-section .catalog-block:hover::before{
    display: block;
} 
.catalog-section .catalog-block:hover .catalog-option-hover{
    display: inline-block;
}
*/
