@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700');

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');

* {
    margin: 0;
    pad: 0;
}

header{
    width: 1200px;
    margin: 0 auto;
}

.logo{
    float: left; 
    margin-top: 26px;
    font-family:"Montserrat", "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #95e1d3;
}

.navigation{
float: right;
margin-top: 40px;

}


.logo1{
    float: left;
   
}

.logo1:first-letter{
    font-family:"Montserrat", "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #95e1d3;
    text-transform: uppercase;
}

.navigation .navigation_list .navigation_item{
    list-style: none;
    display: inline-block;
    font-family:"Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: regular;
    margin: 0px 32px; 
    text-transform: uppercase;
}

.navigation .navigation_list .navigation_item a{
    text-decoration: none;
    color: #95e1d3;
}

.navigation .navigation_list .navigation_item a:hover::after{
    content: ""; 
    background: #f38181;
    width: auto;
    height: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 10px; 
}

.navigation .navigation_list .navigation_item .active::after{
    content: ""; 
    background: #f38181;
    width: auto;
    height: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;  
    }

.navigation .navigation_list .navigation_item .active{
    color: #f38181;
}

.navigation .navigation_list .navigation_item a:hover{
    color: #f38181;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.service .text2::after{
    content: ""; 
    background: #f38181;
    width: 60px;
    height: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 43px;  

}

.service .text1{
    text-align: center;
    font-family:"Kaushan Script", "Arial", cursive;
    font-size: 24px;
    font-weight: regular;
    color: #333333;
    margin-top: 120px;

}

.service .text2{
    text-align: center;
    font-family:"Montserrat", "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin-top: 12px;
    text-transform: uppercase;
}


.service_block{
   display: flex;  
   flex-wrap: wrap;
   width: 1200px;
   margin: 0 auto;
   margin-top: 65px;
}

.service_section{
    display: flex;
    justify-content: center;
    width: 340px;
    margin: 0 auto 100px 27px;

}

.service_section .icons img{
    margin-top: 7px;
}

.service_section .icons img{
    position: relative;
    transform: translate(-7, -7);
}
.service_section .sing{
    margin-left: 20px;
}

.sing .sign1{
    font-family:"Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: regular;
    color: #333333;
    text-transform: uppercase;
   
} 

.sing .sign2{
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 15px;
    font-weight: regular;
    color: #999999;
    margin-top: 20px;
}

/*SECTION TEAM*/

.team{
    width: 100%;
    text-align: center;
    padding: 40px 0 100px;
}

/*text*/

.team .text_text1{
    text-align: center;
    font-family:"Kaushan Script", "Arial", cursive;
    font-size: 24px;
    font-weight: regular;
    color: #333333;
 

}

.team .text_text2{
    text-align: center;
    font-family:"Montserrat", "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin-top: 12px;
    text-transform: uppercase;
}

.team .text_text2::after{
    content: ""; 
    background: #f38181;
    width: 60px;
    height: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 43px;  

}

.team .text_text3{
    text-align: center;
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 15px;
    font-weight: regular;
    color: #999999;
    margin-top: 48px;
}


.team_list{
   display: flex;  
   width: 100%; 
   margin-top: 85px;
   margin-left: 200px;
}

.team_list .team_list_block{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;   
}

.team_list .team_list_photoblock{
    position: relative;
}

.team_list .team_list_block::before{
content: "";
position: absolute;
width: 380px;
height: 470px;
background-color: #95e1d3;
z-index: -1;
}

.team_list_block .team_list_photoblock::before{
content: "";
position: absolute;
width: 380px;
height: 470px;
background: linear-gradient(to top, #eed687, #f08c8a);
opacity: 0;
z-index: 1;
transition: all 0.2s linear;
}

.team_list_block:hover .team_list_photoblock::before{
    opacity: 0.9;
    transform: translate(-10px, -10px);
}
/*
.team_list_photoblock:hover .photo{
    transition: all 0.2s linear; 
}*/

.team_list_block:hover .photo{
    transform: translate(-10px, -10px);
    transition: all 0.2s linear;
}

/*icons*/

.team_list_hover .icon_facebook{
    position: absolute;
    opacity: 0;
    top: 200px;
    left: 81px;
    width: 55px;
    height: 55px;
    border: 1px solid #f38181;
    background-color: #fce38a;
    z-index: 2;
}

.team_list_hover .icon_twitter{
    position: absolute;
    opacity: 0;
    top: 200px;
    left: 138px;
    width: 55px;
    height: 55px;
    border: 1px solid #f38181;
    background-color: #fce38a;
    z-index: 2;
}

.team_list_hover .icon_pinterest{
    position: absolute;
    opacity: 0;
    top: 200px;
    left: 195px;
    width: 55px;
    height: 55px;
    border: 1px solid #f38181;
    background-color: #fce38a;
    z-index: 2;
}

.team_list_hover .icon_instagram{
    position: absolute;
    opacity: 0;
    top: 200px;
    left: 252px;
    width: 55px;
    height: 55px;
    border: 1px solid #f38181;
    background-color: #fce38a;
    z-index: 2;
}

.team_list_hover .icon_instagram .icon_img{
    position: absolute;
    width: 35px;
    height: 25px;
    top: 15px;
    left: 10px;
 }  

.team_list_hover .icon_facebook .icon_img{
    position: absolute;
    width: 35px;
    height: 25px;
    top: 15px;
    left: 10px;
}

.team_list_hover .icon_twitter .icon_img{
    position: absolute;
    width: 35px;
    height: 25px;
    top: 15px;
    left: 10px;
 }

 .team_list_hover .icon_pinterest .icon_img{
    position: absolute;
    width: 35px;
    height: 25px;
    top: 15px;
    left: 10px;
 }


.team_list_photoblock:hover .icon_facebook{
    transform: translate(-10px, -10px);
    opacity: 1;
    transition: all 0.2s linear;
} 
.team_list_photoblock:hover .icon_twitter{
    transform: translate(-10px, -10px);
    opacity: 1;
    transition: all 0.2s linear;
}
.team_list_photoblock:hover .icon_pinterest{
    transform: translate(-10px, -10px);
    opacity: 1;
    transition: all 0.2s linear;
} 
.team_list_photoblock:hover .icon_instagram {
    transform: translate(-10px, -10px);
    opacity: 1;
    transition: all 0.2s linear;
}



.team_list_photoblock .icon_facebook:hover{
    background-color: #95e1d3;
    border-color: #95e1d3;
    transition: all 0.2s linear;
} 
.team_list_photoblock .icon_twitter:hover{
    background-color: #95e1d3;
    border-color: #95e1d3;
    transition: all 0.2s linear;
}
.team_list_photoblock .icon_pinterest:hover{
    background-color: #95e1d3;
    border-color: #95e1d3;
    transition: all 0.2s linear;
} 
.team_list_photoblock .icon_instagram:hover{
    background-color: #95e1d3;
    border-color: #95e1d3;
    transition: all 0.2s linear;
}


.team_list_photoblock .icon_facebook{
    background-color: #95e1d3;
    border-color: #95e1d3;
}

.under_img h3{
    text-align: center;
    font-family:"Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: regular;
    color: #333333;
    text-transform: uppercase;
}

.under_img p{
    text-align: center;
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 24px;
    color: #999999;
}

.under_img h3{
    margin-top: 30px;
    margin-bottom: 10px;
}


/*footer*/

.before::before{
    content: "";
    background:  #cccccc;
    width: 1210px;
    height: 2px;
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 215px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

footer{
    width: 100%;
    margin: 0 auto;
}

footer .line{
    float: left;
    display: inline-block;
    font-family:"Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: regular;
    color: #333333;
    padding: 28px;
}

footer span{
    color: #f38181;
    margin-left: 5px;
}



.but{
    float: right;
    
}
.but li{
    display: inline-block;
    list-style: none;
    margin-left: -4px;
}

.but .but1{
    width: 230px;
    height: 40px;
    text-align: left;
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 24px;
    background-color: #ffff;
    color: #cccccc;
    border: 1px solid #cccccc;
    padding: 10px;
}

.but .but2{
    width: 150px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family:"Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight:  bold;
    background-color:  #95e1d3;
    color: #ffff;
    border: 1px solid #95e1d3;
    padding: 10px;
}

.but{
margin-right: 370px;
}
.line{
    margin-left: 180px;
}
