@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*HEADER*/

.header_img {
    position: relative;
    }
    
.header_img::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, .2);
    } 

.container{
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

.section{
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 20px;
}



.masthead{
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
    height: 600px;
    position: relative;
}

.page_nav_container{
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-top: 130px;
    text-align: center;
    font-family:"Montserrat bold", "Arial", cursive;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.site{
    list-style: none;  
}

.navigation{
    /*width: 140px;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.site_navigation_list{
    padding-left: 20px;
}

.site_navigation_list a{
    font-family:"Montserrat bold", "Arial", cursive;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}


.site_navigation_list a:hover{
    border: 2px solid #ffffff;
    border-radius: 8px; 
    padding: 8px;
}



.site_text_list{
    text-align: center;
}


.text{
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.text_1{
    margin-top: 40px;
    text-align: center;
    font-family:"Montserrat bold", "Arial", cursive;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.text_2{
    margin-top: 20px;
    text-align: center;
    font-family:"Roboto-light", "Arial", cursive;
    font-size: 18px;
    font-weight: regular;
    color: #ffffff;
    }

.text_3{
    margin-top: 20px;
    text-align: center;
    font-family:"Montserrat bold", "Arial", cursive;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 225px;
    height: 40px;
    border: 2px solid #ff4e50;
    border-radius: 20px; 
    background-color: #ff4e50;
    }





.name_text{
    text-align: center;
    margin-top: 65px;
    text-align: center;
    font-family:"Montserrat bold", "Arial", cursive;
    font-size: 22px;
    font-weight: bold;
    color: #333333;
}    

.list {
    position: relative;
    list-style: none;
}

.site_team_list{
    text-align: center;
    padding-top: 50px;
}

.team_ava {
    position: relative;
    display: inline-block;
}



  .icon_wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%; 
    background-color: #ffa507;
    text-align: center;
    border: 5px solid #ffffff;
  }

  .icon {
    display: inline-block;
    width: 18px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
  }

  
.site_team .site_team_list:nth-of-type(2) .icon_wrapper {
    background-color: #1cd7ad;
}
.site_team .site_team_list:nth-of-type(1) .icon_wrapper {
    background-color: #ff4e50;
}
.site_team .site_team_list:nth-of-type(4) .icon_wrapper {
    background-color: #4e73db;
}
  

.name{
    margin-top: 15px;
    font-family:"Montserrat bold", "Arial", cursive;
    font-size: 14px;
    font-weight: bold;
    color: #333333;  
      }
      
.under_name{
    margin-top: 15px;
    font-family:"Roboto-light", "Arial", cursive;
    font-weight: regular;
    font-size: 14px;
    color: #666666;  
     }
.page{
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    }

.download_button{
        text-align: center;
        font-family:"Montserrat bold", "Arial", cursive;
        font-size: 14px;
        font-weight: bold;
        color: #ff4e50;
        width: 190px;
        height: 40px;
        border: 2px solid #ff4e50;
        border-radius: 20px; 
        background-color: #ffFFFF;  
      }
    
